<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">Workshop Kubernetes</span>
    <a class="nav-link" href="#">Home></a>
    <a class="nav-link" href="/files">Local files<span class="sr-only">(current)</span></a>
</nav>
