<%- include('../templates/head')-%>

<main role="main" class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>Hello, world!</h1>
            <p>
              App is running on host <%=host%>
            </p>
            <a class="btn btn-danger" href="/terminate" role="button">Terminate server</a>
        </div>
    </div>
</main>

<%- include('../templates/footer')-%>
