<%- include('../templates/head')-%>

<div class="alert alert-danger" role="alert">
    Something wrong happended and process is going to exit !
  </div>
  <a class="btn btn-primary" href="/" role="button">Go back to homepage</a>

<%- include('../templates/footer')-%>
